{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block page_content %}
            <div>
                <!--self.name, self.price, self.brand, self.volume, self.discuss, self.good_discuss, self.type-->
                <table border=1 class="table table-striped table-bordered table-hover table-condensed table-responsive" style="margin-left: 10px; margin-right: 10px">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Brand</th>
                        <th>Discuss</th>
                        <th>TYPE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in sum_data %}
                        <tr>
                            <th><a href={{ row.url }}>{{ row.name }}</a></th>
                            <th>{{ row.price }}</th>
                            <th>{{ row.brand }}</th>
                            <th>{{ row.discuss }}</th>
                            <th>{{ row.type }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
{% endblock %}
</body>
